@font-face {
  font-family: "gol-flights";
  src: url("gol-flights.eot");
  src: url("gol-flights.eot#iefix") format("embedded-opentype"),
    url("gol-flights.ttf") format("truetype"),
    url("gol-flights.woff") format("woff"),
    url("gol-flights.svg#gol-flights") format("svg");
  font-weight: normal;
  font-style: normal;
}
.icon-return,
.icon-remove,
.icon-oneway,
.icon-multi,
.icon-arrowDown,
.icon-add,
.icon-arrowLeft,
.icon-arrowRight,
.icon-share,
.icon-hotel,
.icon-gol-flights {
  font-family: "gol-flights" !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.icon-return:before {
  content: "R";
}
.icon-remove:before {
  content: "X";
}
.icon-oneway:before {
  content: "O";
}
.icon-multi:before {
  content: "M";
}
.icon-arrowDown:before {
  content: "V";
}
.icon-add:before {
  content: "+";
}
.icon-arrowLeft:before {
  content: "<";
}
.icon-arrowRight:before {
  content: ">";
}
.icon-share:before {
  content: "S";
}
.icon-hotel:before {
  content: "h";
}
